[user]
	name = Kazuki Okamoto
	email = kazuki.okamoto@kakkun61.com
	signingkey = C37B19CBD6166EFF
[color]
	ui = auto
[core]
	editor = nano
	eof = lf
	autocrlf = false
[alias]
	log-graph = log --graph --decorate --abbrev-commit
[push]
	default = upstream
[help]
	autocorrect = 1
[merge]
	conflictStyle = diff3
[pager]
	# diff-highlight command is there
	# - https://github.com/git/git/tree/master/contrib/diff-highlight
	# - /usr/local/share/git-core/contrib/diff-highlight
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[commit]
	gpgsign = true
[url "git@github.com:herp-inc/"]
	insteadOf = https://github.com/herp-inc/
