[user]
	name = Kazuki Okamoto
	email = kazuki.okamoto@kakkun61.com
[color]
	ui = auto
[core]
	editor = nano
	eof = lf
	autocrlf = false
[alias]
	log-graph = log --graph --decorate --abbrev-commit
[push]
	default = upstream
[help]
	autocorrect = 1

[pager]
	# diff-highlight command is there
	# - https://github.com/git/git/tree/master/contrib/diff-highlight
	# - /usr/local/share/git-core/contrib/diff-highlight
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
