[user]
	name = Kazuki Okamoto
	email = kazuki.okamoto@kakkun61.com
[color]
	ui = auto
[core]
	editor = nano
	eof = lf
	autocrlf = false
[alias]
	log-graph = log --graph --decorate --abbrev-commit --all
