[user]
	name = Kazuki Okamoto
	email = kazuki.okamoto@kakkun61.com
[color]
	ui = auto
[core]
	editor = nano
	eof = lf
	autocrlf = false
[alias]
	log-graph = log --graph --decorate --abbrev-commit --all
[push]
	default = upstream
[help]
	autocorrect = 1

[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
