# dot_files リポジトリーのディレクトリーを指定する
dot_files=.

# shellcheck source=/dev/null
source "$dot_files/sh/lib.sh"
# shellcheck source=/dev/null
source "$dot_files/bash/lib.bash"
stop_ssh_agent
# stop_ssh_agent_wsl
