# ~/.profile: executed by the command interpreter for login shells.
# This file is not read by bash(1), if ~/.bash_profile or ~/.bash_login
# exists.
# see /usr/share/doc/bash/examples/startup-files for examples.
# the files are located in the bash-doc package.

# the default umask is set in /etc/profile; for setting the umask
# for ssh logins, install and configure the libpam-umask package.
#umask 022

# dot_files リポジトリーのディレクトリーを指定する
dot_files=.

# shellcheck source=/dev/null
source "$dot_files/sh/lib.sh"
# shellcheck source=/dev/null
source "$dot_files/bash/lib.bash"

add_path "$HOME/bin"
add_path "$HOME/.local/bin"
add_path "$HOME/.cabal/bin"
add_path "$HOME/.ghcup/bin"
add_path "$HOME/go/bin"

# shellcheck source=/dev/null
source "$HOME/.bashrc"

# X 環境なら
setup_sands

start_ssh_agent
# start_ssh_agent_wsl

setup_gpg

setup_git_env

setup_saml2aws
