# ~/.bashrc: executed by bash(1) for non-login shells.
# see /usr/share/doc/bash/examples/startup-files (in the package bash-doc)
# for examples

# If not running interactively, don't do anything
[ -z "$PS1" ] && return

# dotfiles リポジトリーのディレクトリーを指定する
dot_files=.

# shellcheck source=/dev/null
source "$dot_files/sh/lib.sh"
# shellcheck source=/dev/null
source "$dot_files/bash/lib.bash"

setup_nix

setup_less

setup_prompt "$dot_files"

setup_dircolors

setup_bashmarks "$dot_files"

setup_fuck

setup_history

setup_ls

setup_shellcheck

setup_direnv

setup_git_completion "$dot_files"
