apiVersion: v1
kind: Namespace
metadata:
  name: discord-feed-reader
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: feed-trigger-config
  namespace: discord-feed-reader
data:
  config.yaml: |-
    feeds:
      - https://fumieval.hatenablog.com/feed
      - https://haskell.jp/blog/feed
      - https://train.khsoft.gr.jp/atom.xml
      - https://hayabusatf.blog.fc2.com/?xml
      - https://www.lambdanote.com/blogs/news.atom
      - https://zenn.dev/lotz/feed
      - https://qiita.com/lotz/feed
      - https://zenn.dev/matsubara0507/feed
      - https://matsubara0507.github.io/feed
      - https://mizunashi-mana.github.io/blog/feeds/all.atom.xml
      - https://blog.miz-ar.info/atom
      - https://qiita.com/mod_poppo/feed.atom
      - https://zenn.dev/mod_poppo/feed
      - https://ameblo.jp/modelleisenbahnlippe/atom.xml
      - https://syocy.hatenablog.com/feed
      - http://model-railroad.takuo.main.jp/?mode=atom
      - https://blog.techbookfest.org/atom.xml
      - https://spiral-m42.blogspot.com/atom.xml
      - https://ameblo.jp/ei-h/atom.xml
      - https://ameblo.jp/aragane-railway/atom.xml
      - https://funafuwa.blog.jp/index.rdf
      - https://rssblog.ameba.jp/elmer-train/rss.html
      - https://fujigaya2.seesaa.net/index.rdf
    run: [/usr/local/bin/discord-feed-post]
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: feed-trigger-data
  namespace: discord-feed-reader
spec:
  accessModes:
    - ReadWriteOncePod
  resources:
    requests:
      storage: 1Mi
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: discord-feed-reader
  namespace: discord-feed-reader
spec:
  schedule: "29 * * * *"
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 3
  jobTemplate:
    spec:
      backoffLimit: 1
      template:
        spec:
          restartPolicy: Never
          containers:
            - name: discord-feed-reader
              image: ghcr.io/kakkun61/computing-resource-configuration:discord-feed-reader
              imagePullPolicy: IfNotPresent
              resources:
                requests:
                  cpu: 100m
                  memory: 128Mi
                limits:
                  cpu: 500m
                  memory: 256Mi
              volumeMounts:
                - name: feed-trigger-config
                  mountPath: /home/nonroot/.config/feed-trigger
                  readOnly: true
                - name: discord-feed-post-config
                  mountPath: /home/nonroot/.config/discord-feed-post
                  readOnly: true
                - name: feed-trigger-data
                  mountPath: /home/nonroot/.local/share/feed-trigger
          volumes:
            - name: feed-trigger-config
              configMap:
                name: feed-trigger-config
            - name: discord-feed-post-config
              configMap:
                name: discord-feed-post-config
            - name: feed-trigger-data
              persistentVolumeClaim:
                claimName: feed-trigger-data
